<div class="body">

    <!-- nav -->
    <div class="nav ">
    </div>

    <!-- search field -->
    <div class="row">
        <div class="col-12 ">
            <div class="search-bar">
                <app-employee-search></app-employee-search>
            </div>
        </div>
    </div>

    <!-- add button -->
    <div class="row">
        <div class="col-12">
            <div class="enterBtn">
                <button (click)="toggleFormOnClick()" type="button" class="btn btn-toggle " data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    {{ !toggleForm ? 'Show Employee Form' : 'Hide Employee Form' }}
                </button>
            </div>
        </div>
    </div>


    <!-- form -->
    <app-employee-form *ngIf="toggleForm"></app-employee-form>

    <!-- table
    <div class="row">
        <div class="col-12 ">
            <div class="employeeTable">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Employee ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>JohnDoe@email.com</td>
                            <td>£450,000</td>
                            <td><button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->

    <!-- employee card -->
    <div class="card-body">
        <app-employee-card></app-employee-card>
    </div>
</div>