<div class="card-container">
    <div class="row">
        <div class="col-3">
            <div class="employeeCard">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5> Employee ID</h5>
                        <p> First Name </p>
                        <p>Last Name </p>
                        <p> Email</p>
                        <p> Salary</p>
                        <a href="#" class="btn btn-add">Edit</a>
                        <a href="#" class="btn btn-add">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="employeeCard">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5> Employee ID</h5>
                        <p> First Name </p>
                        <p>Last Name </p>
                        <p> Email</p>
                        <p> Salary</p>
                        <a href="#" class="btn btn-add">Edit</a>
                        <a href="#" class="btn btn-add">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="employeeCard">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5> Employee ID</h5>
                        <p> First Name </p>
                        <p>Last Name </p>
                        <p> Email</p>
                        <p> Salary</p>
                        <a href="#" class="btn btn-add">Edit</a>
                        <a href="#" class="btn btn-add">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="employeeCard">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5> Employee ID</h5>
                        <p> First Name </p>
                        <p>Last Name </p>
                        <p> Email</p>
                        <p> Salary</p>
                        <a href="#" class="btn btn-add">Edit</a>
                        <a href="#" class="btn btn-add">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>